
/* Colouring the different pages' backgrounds and footers */
.home {
    background-color: #f9f6e0;
}

.home footer {
    background-color: #f1d9b9;
}

.skillset {
    background-color: #ece0f9;
}

.skillset footer {
    background-color: #e6c6f1;
}

.contact {
    background-color: #e0f8f9;
}

.contact footer {
    background-color: #c6e3f1;
}

.projects {
    background-color: #e0f9ec;
}

.projects footer {
    background-color: #c6f1d9;
}


/* Normal Text Styling */

    p {
        font-family: body;
        font-size: 13px;
        line-height: 1.6;
    }


/* heading style */

    h2 {
        font-family: mainTitle;
        font-size: 20px;
        line-height: 1.6;
    }


/* Title styling */

    .title {
        font-family: title;
        font-size: 20px;
    }


/* Navigation Bar */

    .navigationBar {
        position: sticky;       /* keeps navbar visible at top */
        top: 0; 
        z-index: 10000;
        isolation: isolate;
        font-family: otherText;
        list-style: none;
        padding: 14px;
        margin: 0px;
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    .homeNav {
        background-color: rgb(211, 208, 142);
    }

    .projectsNav {
        background-color: #93cfa3;
    }

    .skillsetNav {
        background-color: #c4b5e5;
    }

    .contactMeNav {
        background-color: #aae0d3;
    } 
    
    .navigationBar li {
        margin-left: 8px;
    }

    .navigationBar li a {
        display: block;
        padding: 20px;
        text-decoration: none;
        border-radius: 8px;
        transition: filter 2s ease, transform 2s ease;

    }

    .navigationBar li:not(.mainLogo) a:hover {
        filter: brightness(80%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
    
    .navigationBar li a:hover {
        transform: translateY(-2px) scale(1.05);
    }

    .navigationBar li:not(.mainLogo) a {
        color: white;
    }

    .mainTitle {
        font-family: mainTitle;
        color: black;
        font-size: 30px;
        font-weight: bold;
        padding-right: 50px;
    } 

    .navigationBar li a.active {
        border-bottom: 3px solid rgb(134, 123, 123);
    }

    .mainLogo {
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    .logoImg {
        width: 200px;
        border-radius: 10px;
    }

/* Profile Picture and Introduction on Homepage */   
    .homeIntro {
        padding: 20px 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

    }

    .profilePic img {
        width: 200px;
        border-radius: 1000px;
        border: 5px solid rgb(255, 235, 134);
        object-fit: cover;
        vertical-align: middle;
    }

    .introText {
        flex: 1;
    }

/* Projects Page */

    .projectsTitle {
        font-family: title;
        font-size: 40px;
        text-align: center;
    }


    .projectsBox {
        padding: 15px 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-bottom: 40px;
    }

    .projectsBox a {
        text-decoration: none;
    }

    .eachProject {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 5px solid white;
        border-radius: 30px;
        background-color: #cff6df;
    }

    .eachProject p{
        color: black;
        text-align: center;
    }

    .projectTitle {
        font-family: mainTitle;
        font-size: 30px;
        padding: 0 50px;
    }

    .languages {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
    }

    .mintSkill, .greenSkill, .darkGreenSkill {
        flex: 1;
        padding: 10px;
        border-radius: 25px;
        border: 5px solid rgb(255, 255, 255);
    }

    .mintSkill, .greenSkill, .darkGreenSkill, .eachProject {
        transition: filter 1s ease, transform 1s ease;
    }

    .mintSkill:hover, .greenSkill:hover, .darkGreenSkill:hover, .eachProject:hover {
        transform: scale(1.05);
        filter: brightness(90%) drop-shadow(rgb(50, 88, 67) 0px 10px 5px);
    }

    .mintSkill {
        background-color: #b8dfc2;
    }

    .greenSkill {
        background-color: #9bc99d;
    }

    .darkGreenSkill {
        background-color: rgb(108, 154, 108);
    }

    .projectImage {
        width: 90%;
        max-width: 1000px;
        border-radius: 40px;
        border: 10px solid white;
        margin: 14px;
        object-fit: cover;
    }


/* Footer */
    footer {
        text-align: center;
        padding: 20px;

    }

    .myFooter {
        display: flex;
        gap: 20px;
    }

    .footerStuff {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .connectionsFooter {
        display: flex;
        gap: 15px;
    }

    .connectionsFooter a {
        text-decoration: none;
        color: black;
    }

    .footerLogos {
        width: 30px;
    }

    .footerLogos, .connectionsFooter a {
        transition: transform 2s ease;
    }

    .footerLogos:hover, .connectionsFooter a:hover {
        transform: scale(1.2);
    }

    /* Contact Form */
        
        .footerEmailingBox {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .footerEmailingBox form {
            display: flex;
            gap: 0px;
        }

        .footerEmailingBox textarea {
            width: 200px;
            height: 15px;
            padding: 16px;
            border: 1px solid #ccc;
            border-radius: 16px 0 0 16px;
            resize: none;            
            font-family: body;
        }

        .footerEmailingBox button {
            padding: 16px;
            border: none;
            background-color: #252525;
            cursor: pointer;
            font-size: 14px;
            color: white;
            transition: filter 2s ease;
            border-radius: 0 16px 16px 0;
        }

        .footerEmailingBox button:hover {
            filter: brightness(50%);
        }

/* Fonts */

    @font-face {
    font-family: mainTitle; 
    src: url(../Fonts/mayonice/Mayonice.ttf); 
    }

    @font-face {
        font-family: otherText;
        src: url(../Fonts/im_fell_types/IM\ Fell\ French\ Canon/FeFCrm2.ttf);
    }

    @font-face {
        font-family: body;
        src: url(../Fonts/Classyvogueregular.ttf);
    }

    @font-face {
        font-family: title;
        src: url(../Fonts/wolfpack-Regular.ttf)
    }