
/* Colouring the different pages' backgrounds */
.home {
    background-color: #f9f6e0;
}


/* Normal Text Styling */

    p {
        font-family: body;
        font-size: 13px;
        line-height: 1.6;
    }


/* Title styling */

    .title {
        font-family: title;
        font-size: 20px;
    }


/* Navigation Bar */

    .navigationBar {
        font-family: otherText;
        list-style-type: none;
        margin: 0;
        padding: 14px 14px;
        display: flex;
        justify-content: space-between;
        align-items: left;
    }

    .homeNav {
        background-color: rgb(211, 208, 142);
    }

    .mainTitle {
        font-family: mainTitle;
        color: black;
        font-size: 30px;
        font-weight: bold;
        padding-right: 50px;
        padding-left: 0px;
    }   

    .navigationBar li {
        float: right;
    }

    ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
    }

    ul li a:hover {
        background: linear-gradient(black,black);
        opacity: 4%;
    }

    .mainLogo {
        float: left;
    }


/* Fonts */

    @font-face {
    font-family: mainTitle; 
    src: url(../Fonts/mayonice/Mayonice.ttf); 
    }

    @font-face {
        font-family: otherText;
        src: url(../Fonts/im_fell_types/IM\ Fell\ French\ Canon/FeFCrm2.ttf);
    }

    @font-face {
        font-family: body;
        src: url(../Fonts/Classyvogueregular.ttf);
    }

    @font-face {
        font-family: title;
        src: url(../Fonts/wolfpack-Regular.ttf)
    }